/* Global CSS */

@import "./reset.css";
@import "./variables.css";

/* Font */

@import
url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* || Page */
* {
	font-family: 'Inter', sans-serif;
	font-style: normal;
}

button,
input[type="checkbox"] {
	cursor: pointer;
}
