/* || Page */

html, body {
	width: 100%;
	height: auto;
}

body {
	background-color: var(--white);
}

main {
	display: flex;
	width: 100%;
}

/* || Cover */

#page-cover {
	padding: 12px;
	width: 60%;
}

#page-cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 75%;
	border-radius: 24px;
}

/* || Content */

#page-content {
	display: flex;
	flex-direction: column;
	padding: 32px;
	width: 40%;
}

header {
	display: flex;
	align-items: center;
	gap: 12px;
}

header img {
	width: 32px;
}

header span {
	color: var(--grey-07);
	font-size: var(--text-04);
	font-weight: var(--font-weight-semi-bold);
}

#main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 32px 64px;
	gap: 32px;
	height: 100%;
}

#form-header {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

#form-header h1 {
	color: var(--grey-07);
	font-size: var(--text-05);
	font-weight: var(--font-weight-bold);
}

#form-header p {
	color: var(--grey-04);
	font-size: var(--text-03);
	font-weight: var(--font-weight-regular);
}

#form, form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.text-input {
	padding: 16px;
	border: 1px solid var(--grey-02);
	border-radius: 10px;
	transition: border-color 0.2s;
}

.text-input:focus-within {
	border-color: var(--blue-01);

	legend {
		color: var(--blue-01);
	}
}

.text-input legend {
	padding: 0 4px;
	color: var(--grey-03);
	font-size: var(--text-02);
	font-weight: var(--font-weight-medium);
	transition: color 0.2s;
}

.text-input input {
	width: 100%;
	color: var(--grey-07);
	font-size: var(--text-01);
	font-weight: var(--font-weight-regular);

	outline: none;
}

.text-input input::placeholder {
	color: var(--grey-03);
	font-size: var(--text-01);
	font-weight: var(--font-weight-regular);
}

#password-option {
	display: flex;
	align-items: center;
	gap: 10px;
}

#accept-input {
	display: flex;
	gap: 10px;
}

#accept-input label {
	color: var(--grey-07);
	font-size: var(--text-02);
	font-weight: var(--font-weight-medium);
}

#accept-input a,
#signin-account a {
	color: var(--blue-01);
	font-weight: var(--font-weight-semi-bold);
	text-decoration: underline;
	transition: color 0.2s;
}

#accept-input a {
	font-size: var(--text-02);
}

#accept-input a:hover {
	color: var(--blue-02);
}

#password-eye img {
	width: 24px;
	transition: filter 0.2s;
}

#password-eye img:hover {
	filter: invert(1);
}

#signin-button,
#google-button {
	font-size: var(--text-03);
	font-weight: var(--font-weight-semi-bold);
	padding: 16px 8px;
	border-radius: 10px;
}

#signin-button {
	color: var(--white);
	background-color: var(--blue-01);
	transition: background-color 0.2s;
}

#signin-button:hover {
	background-color: var(--blue-02);
}

#google-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	color: var(--grey-07);
	background-color: var(--white);
	border: 1px solid var(--grey-01);
	transition: box-shadow 0.2s;
}

#google-button:hover {
	box-shadow: 0 0 10px var(--grey-03);
}

#divider {
	display: flex;
	align-items: center;
	gap: 10px;
}

#divider span {
	color: var(--grey-05);
	font-size: var(--text-02);
	font-weight: var(--font-weight-medium);
}

.line {
	width: 100%;
	height: 1px;
	background-color: var(--grey-02);
}

#signin-account {
	text-align: center;
	color: var(--grey-06);
	font-size: var(--text-03);
	font-weight: var(--font-weight-regular);
}

#signin-account a {
	font-size: var(--text-03);
}

#signin-account a:hover {
	color: var(--blue-02);
}

/* || Responsive */

@media screen and (min-height: 800px) {
	main {
		height: 100vh;
	}
}

@media screen and (max-width: 1400px) {
	html, body {
		height: 100%;
	}

	main {
		display: flex;
		flex-direction: column;
	}

	#page-cover {
		width: 100%;
		padding: 12px 12px 0;
		order: 0;
	}

	#page-cover img {
		height: 160px;
	}

	#page-content {
		width: 100%;
		order: 1;
	}

	#main-content {
		padding: 32px 64px;
	}

	header {
		display: flex;
		justify-content: center;
	}

	#form-header h1 {
		font-size: var(--text-04);
	}
}

@media screen and (max-width: 550px) {
	#main-content {
		padding: 32px 0;
	}

	#page-cover img {
		height: 100px;
	}

	#accept-input {
		display: flex;
		justify-content: center;
	}
}
